@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@theme inline {
  --font-sans: var(--font-rubik);
  --shadow-default: 2px 4px 8px 0 rgba(0,0,0,.1);
  --color-primary: #70c05b;
  --shadow-button-default: 4px 8px 16px 0 rgba(112,192,91, .3);
  --shadow--button-default: var(--shadow-button-default);
  --shadow-button-active:inset 0px 2px 0px 0 rgba(0,0,0, .2);
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

body {
   background: #fbf8ec;
  
  font-family: var(--font-rubik), sans-serif;
}
.slide-title-responsive {
  @apply text-lg md:text-2xl xl:text-5xl font-bold ;
}
